<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="Commands">
            <Component Id="cmpD5aeG5H8l0c_QwQ1gOroqlRUBN0" Guid="{86C14E59-611E-4AF7-80AB-E10974A898F9}">
                <File Id="filLnt5_pKc6sFbVxGdQjZqeZ8wG.g" KeyPath="yes" Source="$(var.CommandsPath)\landis-ii-8.cmd" />
            </Component>
            <Component Id="cmpubr96yXG44eUVseul_6sG1iRpKA" Guid="{80742C8A-BBE4-40B4-A906-5870AAF6F5BD}">
                <File Id="fileHrmgQXn6kb8Vx2Hi6vMEPES46M" KeyPath="yes" Source="$(var.CommandsPath)\landis-ii-extensions.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CommandComponents">
            <ComponentRef Id="cmpD5aeG5H8l0c_QwQ1gOroqlRUBN0" />
            <ComponentRef Id="cmpubr96yXG44eUVseul_6sG1iRpKA" />
        </ComponentGroup>
    </Fragment>
</Wix>