<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="Extensions">
            <Component Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" Guid="{693402E5-3572-4594-971D-A7591241B75A}">
                <File Id="fil8aYfdjIL9TjgFKxONOk_aluZylo" KeyPath="yes" Source="$(var.ExtensionPath)\extensions.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExtensionComponents">
            <ComponentRef Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" />
        </ComponentGroup>
    </Fragment>
</Wix>