<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="ReleaseVersion">
            <Component Id="cmpMhORITgdY.1xV7loqMYytTBeJ2k" Guid="{49FDCFBA-6C36-4AA2-AB01-28EE9712EE2F}">
                <File Id="filSjAHHNzHaeVfcXK.SfpemzHbQik" KeyPath="yes" Source="$(var.BasePath)\app.config" />
            </Component>
            <Component Id="cmpgBMQrYMxh4JvgbWoZZZv_9ObHKA" Guid="{DD0C5789-3216-4624-A855-F7907C9685CC}">
                <File Id="filJ4RZeXKUvKJ2RK.0VmRt2Z1yMLU" KeyPath="yes" Source="$(var.BasePath)\Gdal.Core.dll" />
            </Component>
            <Component Id="cmpp68Qyj04EECE92QtfRiCAcn9ffI" Guid="{E2B47B9D-DF6B-4A09-8125-42E02C92E791}">
                <File Id="fil557UdHwTuLQ4TMhyQVlmQFP0ScM" KeyPath="yes" Source="$(var.BasePath)\Landis-log.txt" />
            </Component>
            <Component Id="cmp2LW57P7NSYiuh4BJWKIxe4Ud5V4" Guid="{489034A1-4E4C-4705-B6BC-E8887C182A76}">
                <File Id="filOTZCMG6gCuckdwXZ8d6S_11lv0E" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.deps.json" />
            </Component>
            <Component Id="cmpogx87jRvxAtNFqbqcs9iGebLRWU" Guid="{D6F7BEF3-217F-4478-898E-21B18E4EB880}">
                <File Id="fil20ODPVm31gePZ4FmO6.FrPEyxg4" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll" />
            </Component>
            <Component Id="cmpnK5TT373nGU12vFba2TLs6TcN_k" Guid="{98C4EE4E-F777-466D-B1D9-61E0760A5C6E}">
                <File Id="filuIQDkSaXIrCfSWG9Tdv0NvDPlR8" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll.config" />
            </Component>
            <Component Id="cmpN7DBEecwT.CzQtXqd039llm8.R0" Guid="{7676EA8C-F3F4-447E-BD1E-C6509F7A98C8}">
                <File Id="fil42blrGZ9bbGHj26cuVmd7XQJjug" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.exe" />
            </Component>
            <Component Id="cmpBg.v_nSjD5j.Cdh0uigOeFjZaiE" Guid="{5920E9AB-B333-47CF-BF03-DA41686D887E}">
                <File Id="filzx.L7mz9q_UMNrMF3Fpx6haN7YQ" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.pdb" />
            </Component>
            <Component Id="cmpFPCOAGKEwQO_STR5wOPZiynPDbM" Guid="{A8F16B81-5583-4CA7-9CD3-E7753BB93D60}">
                <File Id="filj4S.Tl4T6p54GXErNfs_I6XSCQI" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.runtimeconfig.json" />
            </Component>
            <Component Id="cmpn.oUG.h_PI9FEMHbUz2rhs_Fz34" Guid="{650DB28B-550B-441B-AB11-FF6525F67CB9}">
                <File Id="filplKh8WaIBID33SH.mGvggZQj64k" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.dll" />
            </Component>
            <Component Id="cmpGo_hvcpNsufs6DrzHaSL_kSz9Eg" Guid="{ED51EE75-D337-4A20-84BE-71A3B2FDC3F9}">
                <File Id="filnzRnDzyNnVjoieERwjAL_zd18aU" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.Implementation.dll" />
            </Component>
            <Component Id="cmpnpFpxsOhMkkLJfYJCLowO.w2Noc" Guid="{338ECB1C-A801-4B06-8FA9-0950E5CF6126}">
                <File Id="filzl0spH.PpNNxKDXkDF.9ToglOmM" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.Dataset.dll" />
            </Component>
            <Component Id="cmpvzxDMVgjLlyBTgreLz2w6G5R9jA" Guid="{B66389BA-81AF-4297-92FF-D6A4632C7664}">
                <File Id="filhOAypMxtoSlmgMGgkaBh7HfNmjo" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.deps.json" />
            </Component>
            <Component Id="cmptHYccIHjOJbyIksk9tqEt.4ZYdw" Guid="{0ED5999A-549C-446F-A4CE-B3641DBB78FE}">
                <File Id="fil_YcwL5SsS1ma7IGbU66WuyH1yFk" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll" />
            </Component>
            <Component Id="cmpJuIShR3rIfeGqrtVNafE4Uli6Rc" Guid="{F38ED49E-397C-4E5C-A33A-1B3CC2AC4185}">
                <File Id="filfNGJnU3w.YzbfMaNpnUC1FTXkiI" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll.config" />
            </Component>
            <Component Id="cmp8MtuZbzr4QSKZGcZdkIyjcycl3w" Guid="{E820787D-59BD-45B1-904C-EC5A7850971F}">
                <File Id="filickzt09qKI15EVxugVsrPkiUDlA" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.exe" />
            </Component>
            <Component Id="cmp924KwRyVV1dS8NLziqXTbNIvus4" Guid="{0A77BD18-ECD3-4CF4-AEAF-3D1C651786C4}">
                <File Id="filb5MKim0vb.3Yr14R1OJQaICz4yE" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.pdb" />
            </Component>
            <Component Id="cmpF3Fd7J2JGKhkvVV7UujqyGx8az4" Guid="{E1D1B6F4-079F-4719-8060-E4C17117DE3D}">
                <File Id="filZP4KZSfSoZNoYVzFY98tKYNKKiQ" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.runtimeconfig.json" />
            </Component>
            <Component Id="cmpAiSDE5gSvCpPBy.O4shF2jc7GxA" Guid="{AEFC3FC2-6896-46FD-A744-60E8EA57FFAB}">
                <File Id="filJ_W14XBDWDjlQWNHs78ChdZFprA" KeyPath="yes" Source="$(var.BasePath)\Landis.Landscapes.dll" />
            </Component>
            <Component Id="cmpgnc6MVJK5r6xnAl7BmItckFUQ7M" Guid="{09F6F24B-659A-489D-873A-C08E37523945}">
                <File Id="filPWE4PibcaunWs6oJHHZtsxIhGFs" KeyPath="yes" Source="$(var.BasePath)\Landis.Library.Metadata-v2.dll" />
            </Component>
            <Component Id="cmpBwg4Q7roqwWNqcV8Bjed0VVLNzE" Guid="{0293A650-BED6-474B-AB8E-E30E98623F6C}">
                <File Id="fil6qGfxZR63tVvoXF9wn3I2k7yMb0" KeyPath="yes" Source="$(var.BasePath)\Landis.Library.Metadata-v2.pdb" />
            </Component>
            <Component Id="cmpS5tNf6ibLgweRVNU.i400.hVd0w" Guid="{1C8BDFC5-174E-4975-B3C1-60E9E2136182}">
                <File Id="filgE8jO5d6Bb8E598YP5qRuA64rgs" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.dll" />
            </Component>
            <Component Id="cmpbGZBdVIoJjoZCDcEVxAlGwoyVZU" Guid="{423FAB19-937B-41D5-B53D-8D749EBE69FD}">
                <File Id="fil0A.V2xoa34zqSwhnMdlMvHWdjXM" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.Gdal.dll" />
            </Component>
            <Component Id="cmpEkqoFlSqcCWaomE3E2cjWBnvgjU" Guid="{15683C41-DB04-44D5-886C-058BDED24DBD}">
                <File Id="filq.yRHsk2049NgpyVSoRhHAY1dfQ" KeyPath="yes" Source="$(var.BasePath)\Landis.SpatialModeling.dll" />
            </Component>
            <Component Id="cmp3_rFCZXSbMVZ8B0aYcmewBslWAU" Guid="{1EBCDD89-D6C9-4447-B712-543E48EA1A97}">
                <File Id="filXWPXdp3SdrtMwsOHOA3d0DO9qC4" KeyPath="yes" Source="$(var.BasePath)\Landis.Utilities.dll" />
            </Component>
            <Component Id="cmpAApVjI1BClEvALAOcHTX6ZVB0ao" Guid="{6456057A-02CE-4535-BB24-B5EFC53E4FF1}">
                <File Id="filcaq02y_pe26XXP7gKhtiO6rficA" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmpLqfD2ay1uzk_6RthaTKiq8YDPc0" Guid="{24605462-0DB2-4717-B3F4-1DAD293E0486}">
                <File Id="fillz19VQNQUM9fApLY1LHqwZt3jlY" KeyPath="yes" Source="$(var.BasePath)\MathNet.Numerics.dll" />
            </Component>
            <Component Id="cmpmGPwwIHKr.GZesD.bOeQF5QC1WM" Guid="{4ED1072B-5149-4E05-BB96-D9867D1E1A1D}">
                <File Id="filLl08tiAc7dzx_zVXBOhNUDgBAFY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpTKvg6yZAE_LI.hXMnpbwurF.Onc" Guid="{5350B59B-8DC3-422A-979A-6789AC9AD1D3}">
                <File Id="filgDjiCFlezDBfCczOBiXY1XLxGQg" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmp.zvfmmThIKqlfDdnAoo3AeTs1io" Guid="{797CCA27-2806-492B-AF80-16A23FFF2264}">
                <File Id="filyC8f7WFV16CtZZOYtJUhsOS8H_M" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmpdvbR6vnVOuOx5GcN8LA3W9I1FnY" Guid="{222BD858-BE36-4FAE-A897-435B626601D1}">
                <File Id="filc6oDIBGj0N5NSE.f9FXBSS6G0W8" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpgjJLzulQpVzQK4lywYR8GqBrLkI" Guid="{8651B11D-E9FD-49A7-B89F-79A0B0101FA5}">
                <File Id="filEIGLXaGhlsFQ4OW4.tcAJpPIz7o" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmppgWs33x515jhYMjKQ9LSQW.wXVU" Guid="{B0FB6AB9-7806-4562-AA94-3FA3036DB563}">
                <File Id="fil65TJ.N7jbmkc6FoII_xDjAEHDkM" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmpbx.g4SESLCXpBvLJrXs0LvLwMkc" Guid="{EF634502-DA2C-49DF-B94E-9F39B5ECF5C5}">
                <File Id="fil3TO4MGyXswL1kzhv3EhvJPBf67I" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Extensions.dll" />
            </Component>
            <Component Id="cmpTUkYUARpQXFhGWEVpTeFeo0SweA" Guid="{785CBA7C-2EDC-4C6E-9604-63F38ED8224C}">
                <File Id="filod.qQ9TEzs4QsNJNshnh9ObwxNw" KeyPath="yes" Source="$(var.BasePath)\Troschuetz.Random.dll" />
            </Component>
            <Directory Id="dir6SaXAuVvM2mmwldSIXFhk5np2uk" Name="runtimes">
                <Directory Id="dirm.RGtpyX6aQyPanz65bvz9aXcII" Name="linux-x64">
                    <Directory Id="dirq8nzK.39ELqHqSjn5IZemWC51DE" Name="native">
                        <Component Id="cmpNn_xdCdrEtJ4NcyW10nxqrXU9uc" Guid="{806E6A9F-D40B-4777-B703-19D13BF7BDA6}">
                            <File Id="filQcHhBcsy.mTZKqgBlQmjAm0OyRg" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\gdalconst_wrap.so" />
                        </Component>
                        <Component Id="cmpcAjRAoALTAJKxrvpt3wxSotY9FY" Guid="{41B37B81-DF94-4CD9-AD30-D901A66CFB61}">
                            <File Id="fil7E6KFlIhC_TB_Rq9ckvulbtfl5U" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\gdal_wrap.so" />
                        </Component>
                        <Component Id="cmp5KEA3i03dudHNFwV.nISRafsqrM" Guid="{2E25A5DB-F0B8-4239-971B-0B23192AC2FF}">
                            <File Id="filpUN71SwIDHJ55tOJMLid5k0Vw_M" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\libgdal.so.20" />
                        </Component>
                        <Component Id="cmpLPTrSOS.64lNYApN7Ge6NnxMVss" Guid="{2F917E6E-3A20-49A7-8A0B-032342782586}">
                            <File Id="filR9OSS8bSkbAJ0wpkcZrbz3YVeQA" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\ogr_wrap.so" />
                        </Component>
                        <Component Id="cmpDWZz4KVjbpSqQcxGzLj67LS82fc" Guid="{DEEAC776-F497-4C31-B604-3AEAE8E44A0C}">
                            <File Id="filpJ5Bf30dpBEQ34JnvCgHVN_mTeo" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\osr_wrap.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirfjZ1UOjCNmhUNKzxwyM1puiOJxI" Name="win">
                    <Directory Id="dirookjFdxbXaEiY3utoamlOHkGzho" Name="lib">
                        <Directory Id="dirVe1H.H9QD_C45OTE9F08xld5T3I" Name="net7.0">
                            <Component Id="cmpwqnpQF3rNwuUnV1q5SnSkSs3wbw" Guid="{FEFC3C07-BD64-4563-AF98-020424EBA06A}">
                                <File Id="filkg7ULJhy8MuoVErSJmmSoAIsMRI" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\Microsoft.Win32.SystemEvents.dll" />
                            </Component>
                            <Component Id="cmpGc2wh8lpiSfP0Nl3sEBkbp4amgI" Guid="{35DA5457-A3D3-471D-8ADA-6AEC1962FF82}">
                                <File Id="filOgUEl0eMiZVY4Iv9gGA27ItPJD4" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\System.Diagnostics.EventLog.dll" />
                            </Component>
                            <Component Id="cmpBBNaTmAO3lDj9g8okto8pxuD5uM" Guid="{B9220898-B779-45BA-8C31-035739C55221}">
                                <File Id="filGmbm_bpVNItWbDokJSkUgMMhbUo" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\System.Diagnostics.EventLog.Messages.dll" />
                            </Component>
                            <Component Id="cmpkNsfiyGeSnh1ShvY4hYHUWpJ6jc" Guid="{9AD1BB0F-68C5-48F9-805C-6F14607BCC63}">
                                <File Id="filUi9fqHk0SonA2I8L7AQmN5tmpDI" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\System.Drawing.Common.dll" />
                            </Component>
                            <Component Id="cmp8QIXHXUQkem7XmVloW3DKuSf88U" Guid="{D2F9FA53-C03F-456D-94DE-F636055C9FFB}">
                                <File Id="filzCLtnAYqgolmGlbPuWeddhq7_WY" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                            <Component Id="cmpj6YV_zK7OeLSGuT6O0bder9NFZg" Guid="{20414620-834E-4155-B75C-F22021817A37}">
                                <File Id="filKinZktZkF8v7OCe6dSzDt8XoUS0" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net7.0\System.Windows.Extensions.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirbPT8CVPCM1_MM5t6Qi6ge4Uahk4" Name="netstandard2.0">
                            <Component Id="cmpCscEuWi31wkpw2sNsnh5b8rXOKA" Guid="{C40BADBB-DFB4-4A9B-9FE3-35F93291F293}">
                                <File Id="filWP9NQ3G9XNi.cCbBeJ3XNfUGNg0" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netstandard2.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirp4RB3V7No42yY.40jfBI7QyOg6Q" Name="win10-x64">
                    <Directory Id="dirsSKhakOyrxyii_kvLONErDQce6E" Name="native">
                        <Component Id="cmp03P9PUm9fbM9rwA4aKzxCs9Y3z4" Guid="{FCDC80C6-959A-41A3-9F10-EBBF5F6DE102}">
                            <File Id="filoVMyIqHTh_094aWjeX0qOLRJJHU" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal202.dll" />
                        </Component>
                        <Component Id="cmpHzgN_6XTlZo5uBxYn6lC7i07UMY" Guid="{3A586FD7-582A-447E-80CC-7D01CBBCBD00}">
                            <File Id="filYjvGfe95gZ5vUcA2UD5FIlD6uXs" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdalconst_wrap.dll" />
                        </Component>
                        <Component Id="cmpPn7g1NnDIZZBjwvRi30P0bVXvb0" Guid="{1B074EC3-7E19-46D5-B85F-45AE6027A1BF}">
                            <File Id="filuQ0Pkqj1SjVy0VXunjThBCZfNPQ" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal_wrap.dll" />
                        </Component>
                        <Component Id="cmpLXmPdajAQ229G6teDOFj_uaJ9js" Guid="{623293AF-BDA1-4439-832C-8B22D81CFBF7}">
                            <File Id="filcvq44J_9YVYPjEKRshOf3zO8v0Y" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\ogr_wrap.dll" />
                        </Component>
                        <Component Id="cmprrB4XTmbwaX9dxMJ9Su3APsQ.dc" Guid="{3B8EDEBB-829D-4D85-98BD-074833E3EF62}">
                            <File Id="filutUqAyOODNYVI1hAXarTxls8znU" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\osr_wrap.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LandisComponents">
            <ComponentRef Id="cmpMhORITgdY.1xV7loqMYytTBeJ2k" />
            <ComponentRef Id="cmpgBMQrYMxh4JvgbWoZZZv_9ObHKA" />
            <ComponentRef Id="cmpp68Qyj04EECE92QtfRiCAcn9ffI" />
            <ComponentRef Id="cmp2LW57P7NSYiuh4BJWKIxe4Ud5V4" />
            <ComponentRef Id="cmpogx87jRvxAtNFqbqcs9iGebLRWU" />
            <ComponentRef Id="cmpnK5TT373nGU12vFba2TLs6TcN_k" />
            <ComponentRef Id="cmpN7DBEecwT.CzQtXqd039llm8.R0" />
            <ComponentRef Id="cmpBg.v_nSjD5j.Cdh0uigOeFjZaiE" />
            <ComponentRef Id="cmpFPCOAGKEwQO_STR5wOPZiynPDbM" />
            <ComponentRef Id="cmpn.oUG.h_PI9FEMHbUz2rhs_Fz34" />
            <ComponentRef Id="cmpGo_hvcpNsufs6DrzHaSL_kSz9Eg" />
            <ComponentRef Id="cmpnpFpxsOhMkkLJfYJCLowO.w2Noc" />
            <ComponentRef Id="cmpvzxDMVgjLlyBTgreLz2w6G5R9jA" />
            <ComponentRef Id="cmptHYccIHjOJbyIksk9tqEt.4ZYdw" />
            <ComponentRef Id="cmpJuIShR3rIfeGqrtVNafE4Uli6Rc" />
            <ComponentRef Id="cmp8MtuZbzr4QSKZGcZdkIyjcycl3w" />
            <ComponentRef Id="cmp924KwRyVV1dS8NLziqXTbNIvus4" />
            <ComponentRef Id="cmpF3Fd7J2JGKhkvVV7UujqyGx8az4" />
            <ComponentRef Id="cmpAiSDE5gSvCpPBy.O4shF2jc7GxA" />
            <ComponentRef Id="cmpgnc6MVJK5r6xnAl7BmItckFUQ7M" />
            <ComponentRef Id="cmpBwg4Q7roqwWNqcV8Bjed0VVLNzE" />
            <ComponentRef Id="cmpS5tNf6ibLgweRVNU.i400.hVd0w" />
            <ComponentRef Id="cmpbGZBdVIoJjoZCDcEVxAlGwoyVZU" />
            <ComponentRef Id="cmpEkqoFlSqcCWaomE3E2cjWBnvgjU" />
            <ComponentRef Id="cmp3_rFCZXSbMVZ8B0aYcmewBslWAU" />
            <ComponentRef Id="cmpAApVjI1BClEvALAOcHTX6ZVB0ao" />
            <ComponentRef Id="cmpLqfD2ay1uzk_6RthaTKiq8YDPc0" />
            <ComponentRef Id="cmpmGPwwIHKr.GZesD.bOeQF5QC1WM" />
            <ComponentRef Id="cmpTKvg6yZAE_LI.hXMnpbwurF.Onc" />
            <ComponentRef Id="cmp.zvfmmThIKqlfDdnAoo3AeTs1io" />
            <ComponentRef Id="cmpdvbR6vnVOuOx5GcN8LA3W9I1FnY" />
            <ComponentRef Id="cmpgjJLzulQpVzQK4lywYR8GqBrLkI" />
            <ComponentRef Id="cmppgWs33x515jhYMjKQ9LSQW.wXVU" />
            <ComponentRef Id="cmpbx.g4SESLCXpBvLJrXs0LvLwMkc" />
            <ComponentRef Id="cmpTUkYUARpQXFhGWEVpTeFeo0SweA" />
            <ComponentRef Id="cmpNn_xdCdrEtJ4NcyW10nxqrXU9uc" />
            <ComponentRef Id="cmpcAjRAoALTAJKxrvpt3wxSotY9FY" />
            <ComponentRef Id="cmp5KEA3i03dudHNFwV.nISRafsqrM" />
            <ComponentRef Id="cmpLPTrSOS.64lNYApN7Ge6NnxMVss" />
            <ComponentRef Id="cmpDWZz4KVjbpSqQcxGzLj67LS82fc" />
            <ComponentRef Id="cmpwqnpQF3rNwuUnV1q5SnSkSs3wbw" />
            <ComponentRef Id="cmpGc2wh8lpiSfP0Nl3sEBkbp4amgI" />
            <ComponentRef Id="cmpBBNaTmAO3lDj9g8okto8pxuD5uM" />
            <ComponentRef Id="cmpkNsfiyGeSnh1ShvY4hYHUWpJ6jc" />
            <ComponentRef Id="cmp8QIXHXUQkem7XmVloW3DKuSf88U" />
            <ComponentRef Id="cmpj6YV_zK7OeLSGuT6O0bder9NFZg" />
            <ComponentRef Id="cmpCscEuWi31wkpw2sNsnh5b8rXOKA" />
            <ComponentRef Id="cmp03P9PUm9fbM9rwA4aKzxCs9Y3z4" />
            <ComponentRef Id="cmpHzgN_6XTlZo5uBxYn6lC7i07UMY" />
            <ComponentRef Id="cmpPn7g1NnDIZZBjwvRi30P0bVXvb0" />
            <ComponentRef Id="cmpLXmPdajAQ229G6teDOFj_uaJ9js" />
            <ComponentRef Id="cmprrB4XTmbwaX9dxMJ9Su3APsQ.dc" />
        </ComponentGroup>
    </Fragment>
</Wix>